{% extends 'base.html.twig' %}

{% block title %}DossierMedical index{% endblock %}

{% block page_content %}
    <h1>DossierMedical index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>NumeroDossier</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dossier_medical in dossier_medicals %}
            <tr>
                <td>{{ dossier_medical.id }}</td>
                <td>{{ dossier_medical.createdAt ? dossier_medical.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ dossier_medical.updatedAt ? dossier_medical.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ dossier_medical.numeroDossier }}</td>
                <td>
                    <a href="{{ path(constant('App\\Controller\\DossierMedicalController::ROUTE_SHOW'), {'id': dossier_medical.id}) }}">show</a>
                    <a href="{{ path(constant('App\\Controller\\DossierMedicalController::ROUTE_UPDATE'), {'id': dossier_medical.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path(constant('App\\Controller\\DossierMedicalController::ROUTE_CREATE')) }}">Create new</a>
{% endblock %}
