{% extends 'base.html.twig' %}

{% block title %}Liste des greffes{% endblock %}

{% block page_content %}
    <div class="table-container">
        <h1 class="title">Greffes</h1>

        <table class="table is-fullwidth is-striped is-hoverable">
            <thead>
                <tr>
                    <th>Rang</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Donneur</th>
                </tr>
            </thead>
            <tbody>
                {% for greffe in greffes %}
                <tr>
                    <td>{{ greffe.rangGreffe }}</td>
                    <td>{{ greffe.typeGreffe.value }}</td>
                    <td>{{ greffe.dateGreffe|date('d/m/Y') }}</td>
                    <td>
                        {% if greffe.donneur %}
                            <a class="button is-small is-link" href="{{ path(constant('App\\Controller\\DonneurController::ROUTE_SHOW'), {'id': greffe.donneur.id}) }}">
                                {{ greffe.donneur.numeroCrista }}
                            </a>
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4" class="has-text-centered">Aucune greffe trouvée pour ce dossier.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}