{% extends 'base.html.twig' %}

{% block title %}Chirurgien index{% endblock %}

{% block body %}
    <h1>Chirurgien index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chirurgien in chirurgiens %}
            <tr>
                <td>{{ chirurgien.id }}</td>
                <td>{{ chirurgien.nom }}</td>
                <td>{{ chirurgien.prenom }}</td>
                <td>{{ chirurgien.createdAt ? chirurgien.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ chirurgien.updatedAt ? chirurgien.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path(constant('App\\Controller\\ChirurgienController::ROUTE_SHOW'), {'id': chirurgien.id}) }}">show</a>
                    <a href="{{ path(constant('App\\Controller\\ChirurgienController::ROUTE_UPDATE'), {'id': chirurgien.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path(constant('App\\Controller\\ChirurgienController::ROUTE_CREATE')) }}">Create new</a>
{% endblock %}
